* {
    margin: 0;

    font-family: "roboto", "sans-sherif";
    font-size: 18px;

    box-sizing: border-box;
}

body, html {
    height: 100%;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 5px;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 4px;
}

p {
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
}

/******************************************
/* navigation bar stuff
******************************************/
.navbar {
    overflow: hidden;
    background-color: #148995;
}

.navbar a {
    color: #f2f2f2;
    letter-spacing: 1.5px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 22px 20px;
    margin: 0 2%;
}

.navbar .navlink {
    float: right;
}

.navbar > a:first-child {
    float: left;
}

.navbar a:hover:not(.icon) {
    color: #b4f1f1;
    text-decoration: underline;
}

.navbar .icon {
    display: none;
}

#active {
    color: #b4f1f1;
    text-decoration: underline;
}

/******************************************
/* media queries stuff
******************************************/
/* navlink padding @ 700 */
@media screen and (max-width: 800px) {
    .navbar a,
    .dropdown .dropbtn {
        padding: 22px 10px;
    }
 }

@media screen and (max-width: 700px) {
    .navbar a,
    .dropdown .dropbtn {
        padding: 22px 3px;
    }
}

/* hides navlinks and displays icon */
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }


    .navbar .dropdown {
        margin: 0;
    }

    .column {
        flex: 100%;
        width: 100%;
    }
}

/* display navlinks when icon button is clicked */
@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
        overflow: visible;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* drop down menu items */
    .navbar.responsive a,
    .navbar.responsive .dropdown {
        float: none;
        display: block;
        text-align: left;
    }
}

/******************************************
/* drop down menu stuff
******************************************/
.dropdown {
    float: right;
    overflow: hidden;
    margin: 0 2%;
} 

/* when hovered display drop down */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown .dropdown-content a:hover {
    color: #287d88;
}


/******************************************
/* images stuff
******************************************/
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:     linear-gradient(
        rgba(40, 125, 136, 0.1), 
        rgba(40, 125, 136, 0.1)
      ), url("images/mountain.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 60%;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ecfffb;
    color: #148995;

    width: 100px;
    height: 100px;

    border: 2px solid #4a4a4a;
    border-radius: 10px;

    margin: 5% auto;
}

/*****************************************************/
/* homepage section stuff */
/*****************************************************/

.section-zero {
    color: white;
    text-align: center;

    text-shadow: 0px 0px 3px black;
}

.section-one {
    color: black;
    text-align: center;
}

.section-two {
    color: #b4f1f1;
    text-align: left;

    background: linear-gradient(to right, #51b4bd , #1a545b);
    padding: 8%;
}

.section-two ul li {
    letter-spacing: 4px;
    line-height: 30px;
}

.section-three h1 {
    margin-bottom: 50px;
    text-align: center;
}

/*****************************************************/
/* custom button stuff */
/*****************************************************/

/* custom button */
.btn-custom {
    background-color: #ecfffb;
    width: 225px;
    height: 60px;
    border-radius: 5px;

    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 3px #404040;
    letter-spacing: 4px;
    margin: 0 auto;
}

.btn-custom a {
    text-decoration: none;
}

.btn-custom:hover {
    box-shadow: 0 0 4px #404040;
    cursor: pointer;
}


/*****************************************************/
/* sizing stuff */
/*****************************************************/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 4px;
}

.column {
    max-width: 30%;
    min-width: 300px;
    padding: 0 10px;
    margin: 20px 0;
    text-align: center;
}

.my-section {
    margin: 7% 0;
}

.my-topic {
    margin-bottom: 2.5%;
}

.mb-1 {
    margin: 1% 0;
}

.my-1 {
    margin: 8% 0;
}

/*****************************************************/
/* other stuff */
/*****************************************************/
.box-shadow {
    box-shadow: 0 0 2px #737373;
}