* {
    margin: 0;

    font-family: "roboto", "sans-sherif";
    font-size: 18px;

    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/* page topics - main*/
h1 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 5px;
}

/* page topic - parts */
h2 {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 4px;
}

/* page text */
p {
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
}

/******************************************
/* NAVIGATION BAR
******************************************/
.navbar {
    overflow: hidden;
    background-color: #148995;
}

/* main navigation content */
.nav-content {
    float: right;
}

/* all nav items */
.nav-item {
    float: left;
}

/* navbar text */
.nav-brand, 
.nav-link,
.dropdown-btn {
    color: #f2f2f2;
    letter-spacing: 1.5px;
    text-decoration: none;
    padding: 12px;

    display: block;
    padding: 22px 18px;
}

/* hover effect for all navbar items*/
.nav-brand:hover,
.nav-link:hover,
.dropdown-btn:hover {
    color: #b4f1f1;
    text-decoration: underline;
}

/* current page indicator */
#active {
    color: #b4f1f1;
    text-decoration: underline;
}

/******************************************
/* DROPDOWN NAV ITEM
******************************************/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    letter-spacing: 1.5px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #148995;
    text-decoration: underline;
}

.clicked {
    display: block;
}

/* transition speed of dropdown icon rotation */
#dropdown-icon {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/******************************************
/* HAMBURGER MENU ICON
******************************************/
.nav-icon {
    display: none;
    padding: 22px 18px;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 2px;
    background-color: #f2f2f2;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.bar2,
.bar3 {
    margin-top: 5px;
}

.nav-icon:hover .bar1,
.nav-icon:hover .bar2,
.nav-icon:hover .bar3 {
    background-color: #b4f1f1;
}

/* transform hamburger menu to 'X' */
.icon-x .bar1 {
    transform: rotate(-45deg) translate(-3px, 7px);
}

.icon-x .bar2 {
    opacity: 0;
}

.icon-x .bar3 {
    transform: rotate(45deg) translate(-3px, -7px);
}

/******************************************
/* IMAGES AND ICONS
******************************************/
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:     linear-gradient(
        rgba(40, 125, 136, 0.1), 
        rgba(40, 125, 136, 0.1)
      ), url("images/mountain.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 60%;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ecfffb;
    color: #148995;

    width: 100px;
    height: 100px;

    border: 2px solid #4a4a4a;
    border-radius: 10px;

    margin: 5% auto;
}

/*****************************************************/
/* SECTIONS
/*****************************************************/
.section {
    margin: 7% 0;
}

.section-title {
    margin-bottom: 2.5%;
}

.section-part {
    margin-bottom: 1%;
}

.section-zero {
    color: white;
    text-shadow: 0px 0px 3px black;
}

.section-two {
    color: #b4f1f1;
    text-align: left;

    background: linear-gradient(to right, #51b4bd , #1a545b);
    padding: 7% 0;
}

.section-two ul li {
    letter-spacing: 4px;
    line-height: 30px;
}

.section-part:not(:first-child) {
    margin-top: 7%;
}

/*****************************************************/
/* FOOTER
/*****************************************************/
.footer {
    background-color: #148995;
    padding: 5% 0;
}

.footer-link a,
.footer-sublink a {
    display: block;
}

.footer-topic,
.footer-link a {
    color: #f2f2f2;
    font-size: 16px;
    letter-spacing: 2px;

    font-weight: 400;
    text-decoration: none;
}

.footer-info,
.footer-sublink a {
    color: #b4f1f1;
    font-size: 15px;
    font-weight: 400;

    text-decoration: none;
    letter-spacing: 1px;
}

.footer-link a:hover,
.footer-sublink a:hover {
    color: #1a545b;
    text-decoration: underline;
} 

.footer-link a:not(:first-child) {
    margin-top: 44px;
}

.footer-sublink a {
    margin-top: 6.5px;
}

.mt-2 {
    margin-top: 25px;
}

/*****************************************************/
/* CUSTOM BUTTON
/*****************************************************/
.btn-custom {
    background-color: #ecfffb;
    width: 225px;
    height: 60px;
    border-radius: 5px;

    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 3px #404040;
    letter-spacing: 4px;
    margin: 0 auto;
}

.btn-custom a {
    text-decoration: none;
}

.btn-custom:hover {
    box-shadow: 0 0 4px #404040;
    cursor: pointer;
    color: #287d88;
}

/*****************************************************/
/* OTHER STUFF
/*****************************************************/
.box-shadow {
    box-shadow: 0 0 2px #737373;
}

.text-center {
    text-align: center;
}

/**************************************
/* ROWS AND COLUMNS
**************************************/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
}

.col-1 {
    flex: 8.33%;
    max-width: 8.33%;
    padding: 0 0.5%;
}

.col-2 {
    flex: 16.66%;
    max-width: 16.66%;
    padding: 0 0.5%;
}

.col-3 {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.5%;
}

.col-4 {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 0.5%;
}

.col-5 {
    flex: 41.66%;
    max-width: 41.66%;
    padding: 0 0.5%;
}

.col-6 {
    flex: 50%;
    max-width: 50%;
    padding: 0 0.5%;
}

.col-7 {
    flex: 58.33%;
    max-width: 58.33%;
    padding: 0 0.5%;
}

.col-8 {
    flex: 66.66%;
    max-width: 66.66%;
    padding: 0 0.5%;
}

.col-9 {
    flex: 75%;
    max-width: 75%;
    padding: 0 0.5%;
}

.col-10 {
    flex: 83.33%;
    max-width: 83.33%;
    padding: 0 0.5%;
}

.col-11 {
    flex: 91.66%;
    max-width: 91.66%;
    padding: 0 0.5%;
}
.col-12 {
    flex: 100%;
    max-width: 100%;
    padding: 0 0.5%;
}

/**************************************
/* OFFSETS
**************************************/
.offset-1 {
    margin-left: 8.33%;
}

.offset-2 {
    margin-left: 16.66%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33%;
}

.offset-5 {
    margin-left: 41.66%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33%;
}

.offset-8 {
    margin-left: 66.66%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33%;
}

.offset-11 {
    margin-left: 91.66%;
}

.offset-12 {
    margin-left: 100%;
}

/******************************************
/* MEDIA QUERIES
******************************************/
@media only screen and (min-width: 880px) {
    .nav-item {
        padding: 0 25px;
        /* background-color: red; */
    }
}

@media only screen and (max-width: 880px) {
    .nav-item {
        padding: 0 12px;
        /* background-color: green; */
    }
}

@media only screen and (max-width: 770px) {
    .nav-item {
        padding: 0px;
        /* background-color: blue; */
    }

    .col-4 {
        flex: 100%;
        max-width: 100%;
        margin-left: 8.33%;
        margin-right: 8.33%;
    }

    .col-4:not(:first-child) {
        padding-top: 25px;
    }

    .col-3 {
        flex: 100%;
        max-width: 100%;

        margin-left: 25%;
        margin-right: 25%;

        text-align: center;
    }

    .hide {
        display: none;
    }
}

@media only screen and (max-width: 630px) {
    .nav-content {
        display:none;
    }

    .nav-icon {
        float: right;
        display: block;
    }
}

@media only screen and (max-width: 630px) {
    .responsive .nav-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .responsive .nav-content {
        display: block;
        float: none;
    }

    .responsive .nav-item {
        float: none;
    }
}